/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}


label {
    font-size: 1em;
    opacity: 0.5;
}
  
input[type="radio"]:checked+label{opacity: 1; font-size: 1em}
  
/* Style the close button */
.close {
    background-color: transparent;
    float: right;
    margin: 0px;
}

.close:hover {
    background-color: darkgrey;
    color: #f7f7f6;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bababa;
    opacity: 1;
    /* Firefox */
}

.pageHeader {
    text-decoration: none;
    color: #f7f7f6;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}

.pageHeader:hover {
    background-color: #bababa;
}

#helpLinks {
    font-size: 1.5em;
    margin-top: 10px;
    float: right;
    display: inline;
}

#title {
    font-size: 2.5em;
    margin-right: 15px;
    margin-top: 10px;
    display: inline;
}

/* Style the input */
#myInput {
    width: 90%;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    background: #f7f7f6;
    color: grey;
    border: 2px solid transparent;
    border-image: -webkit-radial-gradient(bottom left, 9em 40px, #e2e2e2, white);
    border-image-slice: 1;
    display: inline;
    vertical-align: middle;
}

#myInput input {
    width: auto;
    height: 100%;
}

#listRadio {
    font-family: 'Karla', sans-serif;
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;

}

#inputDiv {
    width: auto;
    background-color: white;
    color: #f7f7f6;
    margin: 10px;
    padding: 0px;
}

.taskList{
    display: inline-block;
    vertical-align: top;
    font-family: 'Karla', sans-serif;
    width: 33%;
}

#taskList1 li {
    background-color: #494949;
    color: #f7f7f6;
}

#taskList2 li {
    background-color: #636363;
    color: #f7f7f6;
}

#taskList3 li {
    background-color: #777777;
    color: #f7f7f6;
}

.listSelector {
  text-align: top;
  visibility: hidden;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 16px;
    transition: 0.2s;
    list-style: none;
    word-wrap: normal;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
    opacity: 0.9;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    opacity: 0.5;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

